# Just shortcut for grep
alias g="grep"

# Quick lookup for running process
alias psa="ps aux | grep "

# Multi column ls with / for dirs
alias l="ls -CF"

# Good ls with hidden stuff
alias ll='ls -atlF'

# List couple recently changed files
alias lt="ls -lt | head"

# Clear screen
alias c="clear"

# Start http server in current directory
alias sharef="python -m SimpleHTTPServer 8080"

# Edit vimrc
alias vimrc='vim ~/.config/nvim/init.vim'

# Edit hosts file
alias hosts='sudo vim /etc/hosts'

# List and sort by size with human-readable format
alias lss='ls -lSah'

# Show all groups
alias show-groups="cat /etc/group | cut -d: -f1"

# Show all users
alias show-users="cat /etc/passwd | cut -d: -f1"

# Git typo
alias gi=git
alias it=git
alias gti=git
alias vi=nvim
alias vim=nvim

alias python=python3.5

# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en1"
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

##### Docker #####

# Kill all running containers.
alias dockerkill='docker kill $(docker ps -a -q)'
 
# Delete all stopped containers and untagged images.
alias dockerclean='dockercleanc || true && dockercleani'
