# Connect to mysql as root
alias my="mysql -u root -proot"

# Just shortcut for grep
alias g="grep"

# Quick lookup for running process
alias psa="ps aux | grep "

# Multi column ls with / for dirs
alias l="ls -CF"

# Good ls with hidden stuff
alias ll='ls -atlF'

# List couple recently changed files
alias lt="ls -lt | head"

# Clear screen
alias c="clear"

# Start http server in current directory
alias sharef="python -m SimpleHTTPServer 8080"

# Edit vimrc
alias vimrc='vim ~/.vimrc'

# Edit hosts file
alias hosts='sudo vim /etc/hosts'

# List and sort by size with human-readable format
alias lss='ls -lSah'

# Show all groups
alias sgroups="cat /etc/group | cut -d: -f1"

# Show all users
alias susers="cat /etc/passwd | cut -d: -f1"

# Git typo
alias gi="git"
alias it="git"
alias gti="git"

# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."


# Kill all the tabs in Chrome to free up memory
# [C] explained: http://www.commandlinefu.com/commands/view/402/exclude-grep-from-your-grepped-output-of-ps-alias-included-in-description
alias chromekill="ps ux | grep '[C]hrome Helper --type=renderer' | grep -v extension-process | tr -s ' ' | cut -d ' ' -f2 | xargs kill"

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en1"
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# Init RVM
alias uservm='[[ -s "$HOME/.rvm/scripts/rvm" ]] && . "$HOME/.rvm/scripts/rvm"'

##### Docker #####

# Kill all running containers.
alias dockerkill='docker kill $(docker ps -a -q)'
 
# Delete all stopped containers.
alias dockercleanc='docker rm $(docker ps -a -q)'
 
# Delete all untagged images.
alias dockercleani='docker rmi $(docker images -q -f dangling=true)'
 
# Delete all stopped containers and untagged images.
alias dockerclean='dockercleanc || true && dockercleani'
